@charset "utf-8";
@import "base";

* {
  font-family: "Ubuntu", sans-serif;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.react-datetime-picker {
  display: block;
}