@charset "utf-8";
@import "base";

* {
  font-family: "Ubuntu", sans-serif;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  width:100%;
  height:50px;
  line-height: 50px;
  position:relative;
  bottom:0;
  left:0;
  background-color: #352c60;
  p {
    color: #FFF;
    margin-bottom: 0px;
  }
}

.react-datetime-picker {
  display: block;
}

.navbar-light .navbar-toggler-icon {
  background-color: #FFF;
}

.navbar-light {
  background: #352c60 !important;
  .navbar-brand {
    color: #FFF;
    &:hover {
      color: #FFF;
    }
  }
  .nav-item {
    a {
      text-decoration: none;
      &:hover, &:visited, &:active {
        text-decoration: none;
        color: #FFF;
      }
    }
  }
  .navbar-nav .nav-link {
    color: #FFF;
    &:hover {
      color: #FFF;
    }
  }
}